@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&display=swap');
:root {
  --primary-color: #003560;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border: 5px solid var(--primary-color);
  background-color: #A8D1DF;
  font-family: 'Gentium Book Plus', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

h1 {
  color: var(--primary-color);
  font-size: 40px;
}

p {
  text-align: center;
}

.btn {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
  border: 5px solid var(--primary-color);
  font-size: 20px;
  padding: 5px 12px;
  margin-bottom: 10px; 
}

.money-img {
  width: 180px;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  color: var(--primary-color);
  background-color: #A8D1DF;
  border: 3px solid var(--primary-color);
  padding: 10px 20px 10px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.currency input {
  color: var(--primary-color);
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}

.swap-rate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: var(--primary-color);
  font-size: 14px;
  padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}